@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=East+Sea+Dokdo&family=Roboto:wght@100;300;400;500;700;900&display=swap');


html {
  touch-action: pan-x pan-y;
  touch-callout: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-user-scalable: none;
  -moz-user-scalable: none;
  -ms-user-scalable: none;
  zoom: 1;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #ccff90; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}